/* Dropdown styling */

.dropdown {
  max-width: 100%;
  margin: 0 0 20px 0;
  position: relative;
  width: 100%;
}

.dropdown-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 15px;
  width: 100%;
  cursor: pointer;

  border: 0;
  border-radius: 5px;
  background-color: rgba(147, 197, 114, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.dropdown-button:hover {
  background-color: rgba(147, 197, 114, 0.3);
  transform: none;
}

.dropdown-button.menu-open {
  background-color: rgba(147, 197, 114, 0.3);
}

/* Dropdown arrow styling */

.arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: transform ease-in-out 0.3s;
}

.arrow.arrow-rotate {
  transform: rotate(180deg);
}

/* Dropdown options styling */

.dropdown-content {
  list-style: none;
  list-style-position: inside;
  padding-left: 3em;
  position: absolute;
  margin: 0 auto;
  width: 80%;

  visibility: hidden;
  opacity: 0;
  transition: opacity 300ms ease-in-out;

  @media (max-width: 600px) {
    padding-left: 2em;
  }
}

.dropdown-content.menu-open {
  visibility: visible;
  opacity: 1;
}

.dropdown-content li {
  position: relative;
  margin: 0 auto;
  padding: 10px;

  background-color: #2a3721;
  border-bottom: solid 1px;
  border-color: rgba(147, 197, 114, 0.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);

  font-size: 1em;
  color: #fff;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
  text-align: center;
}

.dropdown-content li:hover {
  background-color: #3f5732;
}

/* List results styling */

.list-results-container {
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  background: rgba(147, 197, 114, 0.1);
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.result-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px 20px;
  font-size: 0.9em;
}

.result-item {
  text-align: left;
}
